  html,
  body {
    font-family: 'Gantari', sans-serif;
    background-image: url(img/fondo-minimalista.jpg);
  }


  #Logo-r {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: rgb(0, 143, 57) 5px double;
  }

  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  #Par {
    background: url('img/pizza.para.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .nav-item {
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
  }

  a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }

  #Pizza-fondo {
    background-image: url(img/pizza-marco.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: darken;
  }

  h1 {
    -webkit-text-stroke: 2px black;
    border-color: black;
    margin: 10px;
  }

  #P1 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
  }

  .card {
    border: 0 important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.06);
  }

  .cover-small {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
  }

  #carta {
    align-items: center;
    text-align: center;
  }

  .card-title {
    min-height: 2.5rem;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
  }

  .card-text {
    min-height: 7rem;
  }

  .card-header {
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
  }

  .col {
    display: flex;
    justify-content: center !important;
  }

  .btn-danger {
    width: 100%;
  }

  #Fotos {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  footer {
    background-color: rgb(54, 55, 55);
  }

  #Sobre,
  #Novedades {
    width: auto;
  }

  #texto-r {
    background-color: tomato;
    border: black 10px double;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  #grupo {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
  }

  .h3 {
    padding-top: 20px;
    margin-left: 50px;
  }

  .box {
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    
  }

  .box-footer {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .copy {
    color: white;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
  }

  iframe {
    width: 100%;
    margin: auto;
    height: 300px;
  }

  #figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Imagen-n {
    width: 80%;
    margin: auto;
    max-width: 400px;
    min-width: none;
    max-height: 500px;
    border: black 5px solid;
  }


  #Imagen-c {
    width: 80%;
    min-width: 400;
    min-height: 200;
    max-width: 1200px;
    min-width: none;
    max-height: 700px;
    border: black 5px double;
  }
  
  @media screen and (max-width: 950px) {

    #Imagen-c {
      width: auto;
      min-width: 600px;
      min-height: 475px;
      max-width: 600px;
      min-width: none;
      max-height: 47500px;
      border: black 5px double;
    }
  }

  @media screen and (max-width: 665px) {

    #Imagen-c {
      width: auto;
      min-width: 340px;
      min-height: 200px;
      max-width: 340px;
      min-width: none;
      max-height: 270px;
      border: black 5px double;
    }

    #Imagen-n {
      width: 270px;
      max-width:320px;
      min-width: none;
      max-height: 300px;
    }

    iframe {
      width: 100px;
      height: 300px;
    }

    .display-1 {
      font-size: 30px;
    }
  }

  #llamar{
    position: fixed;
    bottom: 20px;
    right: 10px;
    transition: all 300ms ease 0ms;
    z-index: 99;
    width:100px;
    height:90px;
    text-align: center;
  }

  #icono-ll{
    font-size: 30px;
    -webkit-text-stroke: 3px black;
  }

  .fa-circle-exclamation{
    padding-left: 5px;
    padding-right: 5px;
  }

  .contenedor{
    display:grid;
    grid-gap:2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(12,150px);
    margin:0 auto;
    max-width:90%;
    padding:3rem 0;
  }

  .img{
    border-radius:1rem;
    height:100%;
    width:100%;
    object-fit:cover;
    border: black 5px double;
  }

  .item4{
    grid-row:2/5;
  }

  .item5{
    grid-row:2/6;
  }

  .item6{
    grid-row:2/4;
  }

  .item7{
    grid-row:5/6;
  }

  .item8{
    grid-row:4/6;
  }

  .item9{
    grid-row:6/11;
  }

  .item10{
    grid-row:6/7;
  }

  .item11{
    grid-row:6/9;
  }

  .item13{
    grid-row:7/12;
  }

  .item14{
    grid-row:9/13;
  }

  .item15{
    grid-row:11/13;
  }

    